server:
  port: 8080

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.springframework.security: INFO
#    org.springframework.boot.autoconfigure: DEBUG

spring:
  thymeleaf:
    cache: false
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 263243273974-g2j4qeena48rdevoms3jpmqblua5qk9i.apps.googleusercontent.com
            client-secret: V0nS1ZL334zosRN3atMO5bKq
          github:
            client-id: eebcd505641456602131
            client-secret: 72c40574b2498f4188c7cc631406a09e9e0a91cc
#Adding these properties for at least one client will enable the Oauth2ClientAutoConfiguration class which sets up all the necessary beans.